@model Product
<div class="row">
    <div class="col-md-8 mx-auto" >
        <h1 class="text-center">@Model.Name </h1>
        <h3 class="text-center">@Model.Price rub</h3>
        <h3 class="text-center">@Model.Weight kg</h3>
        
    </div>
</div>
