@model Product
<div class="row">
    <div class="col-md-8 mx-auto" >
        <h1 class="text-center">@Model.Name @Model.Price</h1>
        <h3 class="text-center">Всего за:</h3>
        <h3 class="text-center">@Model.Weight $</h3>
        
    </div>
</div>