@model Product

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h3 class="mb-0">Изменение продукта</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Name">Название</label>
                            <input type="text" id="Name" name="Name" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Price">Цена</label>
                            <input type="text" id="Price" name="Price" class="form-control" asp-for="Price" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Weight">Вес</label>
                            <input type="text" id="Weight" name="Weight" class="form-control" asp-for="Weight" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                     
                      <input type="submit" class="btn btn-primary" id="Submit" name="Submit" value="Редактировать"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="result"></div>

@section Scripts{
    <script>
        $("#Submit").click(function()
        {
            var url ="@Url.Action("Edit","Product")";
            var model = { Name : $("#Name").val(), Price : $("#Price").val() , weight : $("#Weight").val()};
            $.post(url, model, function(res){
                $("#result").html(res);
            });
        })
    </script>
}